<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css"> 
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/base/base-min.css">
	<title>never matter - contact}</title>
</head>
<body>
	<div id="doc" class="yui-t7"> 
		<div id="hd">
			<img src='/static/images/logo.png'>
		</div> 
		<div id="bd"> 
			Hello, world.
		</div> 
		<div id="ft">
			<a href='{% url gallery.views.overview %}'>Home</a>
		</div> 
	</div>
</body>
</html>