<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/reset-fonts-grids/reset-fonts-grids.css"> 
	<link rel="stylesheet" type="text/css"
	 href="http://yui.yahooapis.com/2.6.0/build/base/base-min.css">
	<title>never matter</title>
</head>
<body>
	<div id='doc'>
		<div id="hd">
			<img src='/static/images/logo.png'>
		</div>
		<div id='bd'>
			<div class="yui-g">
				<div class="yui-u first">
					<a href='{% url nevermatter.gallery.views.exhibit images.0.id %}'>
						<img src='{{images.0.medium_image_url}}'/>
					</a>
					<a href='{% url nevermatter.gallery.views.exhibit images.1.id %}'>
						<img src='{{images.1.medium_image_url}}'/>
					</a>
				</div>
				<div class="yui-u">
					<a href='{% url nevermatter.gallery.views.exhibit images.2.id %}'>
						<img src='{{images.2.medium_image_url}}'/>
					</a>
					<a href='{% url nevermatter.gallery.views.exhibit images.3.id %}'>
						<img src='{{images.3.medium_image_url}}'/>
					</a>
				</div>
			</div>	
		</div>
		<div id='ft'>
			<a href='{% url gallery.views.contact %}'>Contact</a>
		</div>
	</div>
</body>
</html>